@model List<BookWebApp.Models.DTO.BookWithAuthorAndPublisherDTO>

<h1>Danh sách Sách từ API</h1>

<a class="btn btn-primary mb-3" asp-controller="Books" asp-action="Add">Thêm Sách Mới</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tiêu đề</th>
            <th>Tác giả</th>
            <th>Nhà xuất bản</th>
            <th>Đánh giá</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@string.Join(", ", book.AuthorNames)</td>
                <td>@book.PublisherName</td>
                <td>@book.Rate</td>
                 <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@book.Id">Sửa</a>
                    <form asp-action="Delete" asp-route-id="@book.Id" method="post" class="d-inline"
                          onsubmit="return confirm('Bạn có chắc chắn muốn xóa cuốn sách này không?');">
                        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>